<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="form-group">
                        <label for="searchTextConsulta">Busca Consultas: </label>
                        <input type="text" class="form-control" id="searchTextConsulta" aria-describedby="searchTextConsulta" [(ngModel)]="searchTextConsulta" placeholder="Digite um consulta para pesquisar" autofocus>
                    </div>
                    <div class="header">
                        <h4 class="title">Consultas</h4>

                        <a routerLink="../consultaNova" class="nav-link"><button type="button" class="btn btn-primary">Adicionar Consulta</button></a>
                    </div>
                    <div class="col-md-12">
                        <div *ngIf="nenhumaConsulta">
                            <p>Não há registros</p>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">

                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let consulta of consultas | async | filter: searchTextConsulta; index as i">
                                    <td>{{consulta.nome}}</td>
                                    <td>{{consulta.codigo}}</td>
                                    <td [className]="consulta.ativo ? 'ativa' : 'inativa'">{{consulta.ativo ? "Ativo" :"Inativo" }}</td>
                                    <td>
                                        <a routerLink="/consulta/edit/{{consulta.id}}" class="nav-link">
                                            <button class="btn btn-primary btn-xs " (click)="updateConsulta(consulta.id)">Editar</button></a>
                                        <a routerLink="./consultas" class="nav-link">
                                            <button class="btn btn-danger btn-xs" (click)="deleteConsulta(consulta.id)">Excluir</button></a>
                                    </td>
                                    <td><button mat-raised-button (click)="openDialog(consulta.id)">Excluir</button></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>