<!-- <div class="container">
    <div>
        User Name : <input type="text" name="username" [(ngModel)]="username">
    </div>
    <div>
        Password : <input type="password" name="password" [(ngModel)]="password">
    </div>
    <button (click)=checkLogin() class="btn btn-success">
      Login
    </button>
</div> -->

<hr>

<h2>Atualizações toda semana</h2>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="#">
            <h1>Create Account</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your email for registration</span>
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <button>Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="#">
            <h1>Consulta Aí</h1>
            <div class="social-container">
            </div>
            <input type="text" name="username" [(ngModel)]="username" placeholder="Usuário" />
            <input type="password" type="password" name="password" [(ngModel)]="password" placeholder="Senha" />
            <a href="#">Esqueceu a senha?</a>
            <button (click)=checkLogin()>Entrar</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Olá, Seja bem vindo ao nosso sistema!</h1>
                <p>Aqui vcê terá nossas soluções para o sistema médico de São Luís.</p>
                <button class="ghost" id="signUp">Cadastrar</button>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>
        Creta Solutions INC
    </p>
</footer>