<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="card">

                    <div class="form-group">
                        <label for="search-text">Search Text</label>
                        <input type="email" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText" placeholder="Enter text to search" autofocus>
                    </div>
                    <ul class="list-group list-group-flush">
                        
                        <li class="list-group-item" *ngFor="let c of characters | appFilter: searchText">  {{  cc }}
                           
                        </li>
                    </ul>

                </div> -->
                <div class="card">
                    <div class="form-group">
                        <label for="searchTextHospital">Busca Hospital: </label>
                        <input type="text" class="form-control" id="searchTextHospital" aria-describedby="searchTextHospital" [(ngModel)]="searchTextHospital" placeholder="Digite um hospital para pesquisar" autofocus>
                    </div>
                    <div class="header">
                        <h4 class="title">Hospitais</h4>
                        <!-- <p class="category">Here is a subtitle for this table</p> -->
                        <a routerLink="../user" class="nav-link"><button type="button" class="btn btn-primary">Adicionar Hospital</button></a>
                    </div>
                    <div class="col-md-12">
                        <div *ngIf="nenhumHospital">
                            <p>Não há registros</p>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">

                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hospital of hospitais | async | filter: searchTextHospital; index as i">
                                    <td>{{hospital.nome}}</td>
                                    <td>{{hospital.cnes}}</td>
                                    <td [className]="hospital.ativo ? 'ativa' : 'inativa'">{{hospital.ativo ? "Ativo" :"Inativo" }}</td>
                                    <td>
                                        <a routerLink="/table/edit/{{hospital.id}}" class="nav-link">
                                            <button class="btn btn-primary btn-xs " (click)="updateHospital(hospital.id)">Editar</button></a>
                                        <a routerLink="./table" class="nav-link">
                                            <button class="btn btn-danger btn-xs" (click)="deleteHospital(hospital.id)">Excluir</button></a>
                                    </td>
                                    <td><button mat-raised-button (click)="openDialog(hospital.id)">Excluir</button></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>