<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Criando um novo Hospital:</h4>
                    </div>
                    <div class="content">
                        <form [formGroup]="momentForm" #formDir="ngForm">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input type="text" class="form-control" placeholder="Nome do Hospital" id="nome" [(ngModel)]="hospital.nome" name="nome" formControlName="nome">
                                    </div>
                                </div>
                                <div *ngIf="nome.invalid && formDir.submitted">
                                    <p *ngIf="nome.errors?.['required']">Nome inválido</p>
                                </div>
                            </div>
                            <!--
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Company (disabled)</label>
                                        <input type="text" class="form-control" disabled placeholder="Company" value="Creative Code Inc.">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control" placeholder="Username" value="michael23">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div> -->
                            <button [disabled]="!formDir.valid" (click)="onSubmit()" class="btn btn-info btn-fill pull-right">Salvar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>